.button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-family: Caveat Brush;
  font-size: 18px;
  line-height: calc(23px / 18px);
  color: #ffffff;
  background-color: var(--accent-color);

  padding: 8px 47px;
  text-align: center;
  border: none;
  border-radius: 25px;
}
