.button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  font-family: Caveat Brush;
  @include font(400, 18, 23, null);

  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;

  width: 145px;
  height: 40px;

  border: none;
  border-radius: 25px;
}
