.menu__logo {
  max-width: 190px;
  margin-bottom: 40px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: auto;
}

.menu-list__link {
  @include font(500, 24, 29, none);
  text-align: center;
  color: currentColor;

  &:hover,
  &:focus {
    color: #876655;
  }
}
// =================
.header__hidden {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  @media screen and (min-width: $breakpoint-desk) {
    display: none;
  }
}

.menu {
  position: fixed;
  z-index: -10;
  top: 0;
  // left: 0;
  height: 100vh;
  width: 100vw;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  visibility: hidden;
  opacity: 0;

  @include transition-two(opacity, visibility, 500ms, 50ms);
}

.menu.is-open {
  height: 100vh;
  width: 100vw;

  visibility: visible;
  opacity: 1;
  z-index: 100;
  backdrop-filter: blur(4px);
  background-color: rgba(254, 243, 228, 0.9);

  padding: 25px;

  transform: translate(-50%, -50%);
}

.menu-button {
  position: absolute;
  z-index: 200;
  top: 16px;
  right: 20px;

  border: none;
  background-color: transparent;
  padding: 0;

  & .icon-menu {
    display: block;
  }

  & .icon-close {
    display: none;
  }
}

.menu-button.is-open {
  top: 20px;
  & .icon-menu {
    display: none;
  }

  & .icon-close {
    display: block;
  }
}

.arrow-up {
  position: fixed;
  z-index: 10;
  right: 10%;
  bottom: 10%;
  display: block;

  background-color: transparent;
  border: none;
  padding: 0;

  &__link {
    display: block;
    color: rgba(0, 0, 0, 0.4);
  }
  &__icon {
    fill: currentColor;
  }
}
