<section class="contacts" id="kontacts">
  <div class="container contacts__container">
    <h2 class="title contacts__title">Contact</h2>
    <h3 class="contacts__subtitle">We will answer any question!</h3>
    <form class="form contacts__form" action="submit">
      <label class="field"
        ><input
          class="field__input field__input--white"
          type="email"
          name="email"
          placeholder="&nbsp;"
          required
          pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
          title="Please enter in format my@donut.com"
        />
        <span class="field__name">Email</span>
        <svg class="info-icon" width="15" height="15">
          <use class="error-icon" href="./images/icons.svg#icon-angry"></use>
          <use class="success-icon" href="./images/icons.svg#icon-happy"></use>
        </svg>
      </label>
      <label class="field"
        ><input
          class="field__input field__input--white"
          type="text"
          name="question"
          placeholder="&nbsp;"
          required
          maxlength="50"
        />
        <span class="field__name">Type your question</span>
        <svg class="info-icon" width="15" height="15">
          <use class="error-icon" href="./images/icons.svg#icon-angry"></use>
          <use class="success-icon" href="./images/icons.svg#icon-happy"></use>
        </svg>
      </label>
    </form>
    <button class="button form-btn" type="submit" aria-label="submit-button">
      Send
    </button>
  </div>
</section>
