<section class="footer-contacts">
  <div class="container">
    <h2 class="footer-contacts__title">Contact</h2>
    <h3 class="footer-contacts__subtitle">We will answer any question!</h3>
    <form class="form" action="submit">
      <label class="field"
        ><input
          class="field__input"
          type="email"
          name="email"
          placeholder="Email"
          required
          pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
          title="Please enter in format my@donut.com"
      /></label>
      <label class="field"
        ><input
          class="field__input"
          type="text"
          name="question"
          placeholder="Type your question"
          required
          maxlength="50"
      /></label>

      <button class="button" type="submit">Send</button>
    </form>
  </div>
</section>
