<footer>
  <div class="container footer">
    <ul class="social-list list footer__social-list">
      <li class="social-list__item">
        <a
          class="social-list__link"
          href="#"
          target="_blank"
          rel="noopener nofollow noreferrer"
          aria-label="twitter"
        >
          <svg class="social-list__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a
          class="social-list__link"
          href="#"
          target="_blank"
          rel="noopener nofollow noreferrer"
          aria-label="instagram"
        >
          <svg class="social-list__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a
          class="social-list__link"
          href="#"
          target="_blank"
          rel="noopener nofollow noreferrer"
          aria-label="facebook"
          ><svg class="social-list__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-facebook"></use></svg
        ></a>
      </li>
    </ul>
    <address>
      <ul class="contacts-list">
        <li class="contacts-list__item">
          <a class="contacts-list__phone" href="tel:(910)222-8855">
            <svg class="contact-list__icon" width="13" height="13">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            (910)222-8855</a
          >
        </li>
        <li class="address-list__item">
          <a
            class="contacts-list__map"
            href="https://goo.gl/maps/VrFdziS9nRpkQroh8"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            <svg class="contact-list__icon" width="11" height="14">
              <use href="./images/icons.svg#icon-location"></use></svg
            >New York</a
          >
        </li>
      </ul>
    </address>
  </div>
  <picture class="footer-img">
    <source
      media="(min-width: 1280px)"
      srcset="
        ./images/contact/cn-flour-dc.webp   1x,
        ./images/contact/cn-flour-dc2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 1280px)"
      srcset="
        ./images/contact/cn-flour-dc.png   1x,
        ./images/contact/cn-flour-dc2x.png 2x
      "
      type="image/png"
    />
    <img src="./images/contact/cn-flour-mb.png" alt="plate with meal" />
  </picture>
</footer>
