<!-- <nav class="menu-container container">
  <a class="logo logo__link">
    <img
      class="logo__img"
      src="./images/header/logo-menu-mb-tb.png"
      alt="company logo"
      width="190"
      height="85"
  /></a>

  <ul class="menu-list list">
    <li class="menu-list__item">
      <a class="menu-list__link" href="#">About us</a>
    </li>

    <li class="menu-list__item">
      <a class="menu-list__link" href="#">Program</a>
    </li>

    <li class="menu-list__item">
      <a class="menu-list__link" href="#">Speakers</a>
    </li>

    <li class="menu-list__item">
      <a class="menu-list__link" href="#">Price</a>
    </li>

    <li class="menu-list__item">
      <a class="menu-list__link" href="#">Reviews</a>
    </li>

    <li class="menu-list__item">
      <a class="menu-list__link" href="#">Contacts</a>
    </li>
  </ul>
</nav> -->
