<nav>
    <a><img alt="company logo"></a>

    <ul class="mob-menu">
        <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">About us</a>
        </li>

        <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">Program</a>
        </li>

        <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">Speakers</a>
        </li>

        <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">Price</a>
        </li>

        <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">Reviews</a>
        </li>

        <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">Contacts</a>
        </li>
    </ul>
</nav>