<header class="header container">
  <a class="logo header__logo">
    <img src="./images/header/logo-mb-tb.png" alt="company logo" />
  </a>

  <h1 class="header__title">
    Donut Masterclass with the Donut King
    <span class="header__title--small">Hosted by Eva Green</span>
  </h1>

  <button class="header__button button" type="button">Register</button>

  <ul class="social-list list">
    <li class="social-list__item">
      <a
        class="social-list__link"
        href="#"
        target="_blank"
        rel="noopener nofollow noreferrer"
      >
        <svg class="social-list__icon" width="16" height="16">
          <use href="./images/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="social-list__item">
      <a
        class="social-list__link"
        href="#"
        target="_blank"
        rel="noopener nofollow noreferrer"
      >
        <svg class="social-list__icon" width="16" height="16">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social-list__item">
      <a
        class="social-list__link"
        href="#"
        target="_blank"
        rel="noopener nofollow noreferrer"
      ></a>
      <svg class="social-list__icon" width="16" height="16">
        <use href="./images/icons.svg#icon-facebook"></use>
      </svg>
    </li>
  </ul>

  <div class="header__hidden container">
    <button class="menu-button" type="button" data-menu-button>
      <svg width="30" height="16">
        <use class="icon-menu" href="./images/icons.svg#icon-menu"></use>
        <use class="icon-close" href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="menu" data-menu>
      <a class="menu__logo logo">
        <img
          class="logo__img"
          src="./images/header/logo-menu-mb-tb.png"
          alt="company logo"
          width="190"
          height="85"
      /></a>

      <ul class="menu__nav menu-list list">
        <li class="menu-list__item">
          <a class="menu-list__link" href="#">About us</a>
        </li>

        <li class="menu-list__item">
          <a class="menu-list__link" href="#">Program</a>
        </li>

        <li class="menu-list__item">
          <a class="menu-list__link" href="#">Speakers</a>
        </li>

        <li class="menu-list__item">
          <a class="menu-list__link" href="#">Price</a>
        </li>

        <li class="menu-list__item">
          <a class="menu-list__link" href="#">Reviews</a>
        </li>

        <li class="menu-list__item">
          <a class="menu-list__link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
