<section class="price section" id="price">
  <div class="price__container container">
    <h2 class="price__title title">Price</h2>
    <ul class="price-cards list">
      <li class="price-cards__item card">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/price/prc-donut1-dc.png   1x,
              ./images/price/prc-donut1-dc2x.png 2x
            "
          />
          <img
            class="price-cards__pic--white-first"
            src="./images/price/prc-donut1-dc.png"
            alt="white donut"
            width="66"
            height="74"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/price/prc-donut2-dc.png   1x,
              ./images/price/prc-donut2-dc2x.png 2x
            "
          />
          <img
            class="price-cards__pic--striped-first"
            src="./images/price/prc-donut2-dc.png"
            alt="striped donut"
            width="66"
            height="73"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/price/prc-donut3-dc.png   1x,
              ./images/price/prc-donut3-dc2x.png 2x
            "
          />
          <img
            class="price-cards__pic--brown-first"
            src="./images/price/prc-donut3-dc.png"
            alt="brown donut"
            width="66"
            height="73"
          />
        </picture>
        <h3 class="card__title">Easy start</h3>
        <ul class="card-list list">
          <li class="card-list__item">
            &#8208;features of yeast dough preparation
          </li>
          <li class="card-list__item">
            &#8208;preparation of liquid caramel for stuffing
          </li>
          <li class="card-list__item">
            &#8208;preparation of raspberry and strawberry filling
          </li>
          <li class="card-list__item">&#8208;fry and glaze donuts</li>
        </ul>
        <a class="button link" href="#registration"><span>Register</span></a>
      </li>
      <li class="price-cards__item card">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/price/prc-donut1-dc.png   1x,
              ./images/price/prc-donut1-dc2x.png 2x
            "
          />
          <img
            class="price-cards__pic--white-second"
            src="./images/price/prc-donut1-dc.png"
            alt="white donut"
            width="66"
            height="74"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/price/prc-donut2-dc.png   1x,
              ./images/price/prc-donut2-dc2x.png 2x
            "
          />
          <img
            class="price-cards__pic--striped-second"
            src="./images/price/prc-donut2-dc.png"
            alt="striped donut"
            width="66"
            height="73"
          />
        </picture>
        <h3 class="card__title">I want delicious donuts</h3>
        <ul class="card-list list">
          <li class="card-list__item">
            &#8208;features of yeast dough preparation
          </li>
          <li class="card-list__item">
            &#8208;preparation of liquid caramel for stuffing
          </li>
          <li class="card-list__item">
            &#8208;preparation of raspberry and strawberry filling
          </li>
          <li class="card-list__item">&#8208;melt chocolate for decoration</li>
          <li class="card-list__item">&#8208;fry and glaze donuts</li>
          <li class="card-list__item">
            &#8208;donut decoration. painting and various techniques
          </li>
        </ul>
        <a class="button link" href="#registration"><span>Register</span></a>
      </li>
      <li class="price-cards__item card">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/price/prc-donut1-dc.png   1x,
              ./images/price/prc-donut1-dc2x.png 2x
            "
          />
          <img
            class="price-cards__pic--white-third"
            src="./images/price/prc-donut1-dc.png"
            alt="white donut"
            width="66"
            height="74"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/price/prc-donut2-dc.png   1x,
              ./images/price/prc-donut2-dc2x.png 2x
            "
          />
          <img
            class="price-cards__pic--striped-third"
            src="./images/price/prc-donut2-dc.png"
            alt="striped donut"
            width="66"
            height="73"
          />
        </picture>
        <h3 class="card__title">Premium</h3>
        <ul class="card-list list">
          <li class="card-list__item">
            &#8208;features of yeast dough preparation
          </li>
          <li class="card-list__item">
            &#8208;preparation of liquid caramel for stuffing
          </li>
          <li class="card-list__item">
            &#8208;preparation of raspberry and strawberry filling
          </li>
          <li class="card-list__item">&#8208;melt chocolate for decoration</li>
          <li class="card-list__item">&#8208;fry and glaze donuts</li>
          <li class="card-list__item">
            &#8208;donut decoration. painting and various techniques
          </li>
          <li class="card-list__item">
            &#8208;After party and donut tasting with speakers
          </li>
          <li class="card-list__item">
            &#8208;2 private lessons with one of the speakers
          </li>
        </ul>
        <a class="button link" href="#registration"><span>Register</span></a>
      </li>
    </ul>
  </div>
</section>
