<section class="price section" id="price">
  <div class="price-container container">
    <h2 class="price-title">Price</h2>
    <ul class="price-cards list">
      <li class="price-cards__schedule">
        <h3 class="price-schedule__title">Easy start</h3>
        <ul class="price-schedule__list list">
          <li class="price-schedule__item">
            -features of yeast dough preparation
          </li>
          <li class="price-schedule__item">
            -preparation of liquid caramel for stuffing
          </li>
          <li class="price-schedule__item">
            -preparation of raspberry and strawberry filling
          </li>
          <li class="price-schedule__item">-fry and glaze donuts</li>
          <button class="button">Register</button>
        </ul>
      </li>
      <li class="price-cards__schedule">
        <h3 class="price-schedule__title">I want delicious donuts</h3>
        <ul class="price-schedule__list list">
          <li class="price-schedule__item">
            -features of yeast dough preparation
          </li>
          <li class="price-schedule__item">
            -preparation of liquid caramel for stuffing
          </li>
          <li class="price-schedule__item">
            -preparation of raspberry and strawberry filling
          </li>
          <li class="price-schedule__item">-melt chocolate for decoration</li>
          <li class="price-schedule__item">-fry and glaze donuts</li>
          <li class="price-schedule__item">
            -donut decoration. painting and various techniques
          </li>
          <button class="button">Register</button>
        </ul>
      </li>
      <li class="price-cards__schedule">
        <h3 class="price-schedule__title">Premium</h3>
        <ul class="price-schedule__list list">
          <li class="price-schedule__item">
            -features of yeast dough preparation
          </li>
          <li class="price-schedule__item">
            -preparation of liquid caramel for stuffing
          </li>
          <li class="price-schedule__item">
            -preparation of raspberry and strawberry filling
          </li>
          <li class="price-schedule__item">-melt chocolate for decoration</li>
          <li class="price-schedule__item">-fry and glaze donuts</li>
          <li class="price-schedule__item">
            -donut decoration. painting and various techniques
          </li>
          <li class="price-schedule__item">
            -After party and donut tasting with speakers
          </li>
          <li class="price-schedule__item">
            -2 private lessons with one of the speakers
          </li>
          <button class="button">Register</button>
        </ul>
      </li>
    </ul>
  </div>
</section>
