<section class="price section">
  <div class="price__container container">
    <h2 class="price__title">Price</h2>
    <ul class="price-cards list">
      <li class="price-cards__item card">
        <h3 class="card__title">Easy start</h3>
        <ul class="card-list list">
          <li class="card-list__item">-features of yeast dough preparation</li>
          <li class="card-list__item">
            -preparation of liquid caramel for stuffing
          </li>
          <li class="card-list__item">
            -preparation of raspberry and strawberry filling
          </li>
          <li class="card-list__item">-fry and glaze donuts</li>
        </ul>
        <button class="button">Register</button>
      </li>
      <li class="price-cards__item card">
        <h3 class="card__title">I want delicious donuts</h3>
        <ul class="card-list list">
          <li class="card-list__item">-features of yeast dough preparation</li>
          <li class="card-list__item">
            -preparation of liquid caramel for stuffing
          </li>
          <li class="card-list__item">
            -preparation of raspberry and strawberry filling
          </li>
          <li class="card-list__item">-melt chocolate for decoration</li>
          <li class="card-list__item">-fry and glaze donuts</li>
          <li class="card-list__item">
            -donut decoration. painting and various techniques
          </li>
        </ul>
        <button class="button">Register</button>
      </li>
      <li class="price-cards__item card">
        <h3 class="card__title">Premium</h3>
        <ul class="card-list list">
          <li class="card-list__item">-features of yeast dough preparation</li>
          <li class="card-list__item">
            -preparation of liquid caramel for stuffing
          </li>
          <li class="card-list__item">
            -preparation of raspberry and strawberry filling
          </li>
          <li class="card-list__item">-melt chocolate for decoration</li>
          <li class="card-list__item">-fry and glaze donuts</li>
          <li class="card-list__item">
            -donut decoration. painting and various techniques
          </li>
          <li class="card-list__item">
            -After party and donut tasting with speakers
          </li>
          <li class="card-list__item">
            -2 private lessons with one of the speakers
          </li>
        </ul>
        <button class="button">Register</button>
      </li>
    </ul>
  </div>
</section>
