<section class="program-section container" id="program">
  <div class="program-section__container">
    <div class="description">
      <h2 class="description__title">Program</h2>
      <p class="description__paragraph">
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul class="description__list">
        <li class="description__item list">
            A stand up history of donuts
        </li>
        <li class="description__item list">
            Make 3 donut flavors of your choice
        </li>
        <li class="description__item list">
            Enjoy all-you-can-eat donuts
        </li>
        <li class="description__item list">
          Cocktail pairings and coffee included
        </li>
        <li class="description__item list">
          Photoshoot by professional photographer
        </li>
        <li class="description__item list">
            Secret receipt of cooking from Eva
        </li>
        <li class="description__item list">
          All products are included in the price
        </li>
      </ul>
      <p class="description__chapter" data-text>
        Come with your dear people and friends
        and you will spend an unforgettable time and
        will become a real professional
        in donuts cooking!
      </p>
      <button class="description__btn" type="button" data-btn-more>
        <span class="description__btn-text" data-text-more>Read more</span>
        <span class="description__btn-text is-hidden" data-text-less>Less</span>
      </button>
    </div>
    <div class="presentation">
        <ul class="presentation__list">
            <li class="presentation__item list">
              <div class="presentation__wrapper">
              <picture class="presentation__image">
                <source 
                media="(min-width: 1280px)"
                srcset="./images/program/pr-donut1-dc.webp 1x, ./images/program/pr-donut1-dc2x.webp 2x" type="image/webp"
                />
                <source
                media="(min-width: 1280px)"
                srcset="./images/program/pr-donut1-dc.png 1x, ./images/program/pr-donut1-dc2x.png 2x"
                type="image/png"
                />
                <source 
                media="(min-width: 768px)" 
                srcset="./images/program/pr-donut1-tb.webp 1x, ./images/program/pr-donut1-tb2x.webp 2x"
                type="image/webp" />
                <source
                media="(min-width: 768px)"
                srcset="./images/program/pr-donut1-tb.png 1x, ./images/program/pr-donut1-tb2x.png 2x"
                type="image/png"
                />
                <source 
                media="(max-width: 767px)" 
                srcset="./images/program/pr-donut1-mb.webp 1x, ./images/program/pr-donut1-mb2x.webp 2x"
                type="image/webp" />
                <source
                media="(max-width: 767px)"
                srcset="./images/program/pr-donut1-mb.png 1x, ./images/program/pr-donut1-mb2x.png 2x"
                type="image/png"
                />
                <img  src="./images/program/pr-donut1-mb.png" alt="Black donut">
              </picture>
                <p class="presentation__title">Type of the event</p>
                <p class="presentation__paragraph">Cooking classes</p>
                <svg class="presentation__icon" width="19" height="19">
                    <use href="./images/icons.svg#icon-chef-hat"></use>
                </svg>
                </div>
            </li>
            <li class="presentation__item list">
              <div class="presentation__wrapper">
              <picture class="presentation__image">
                <source 
                media="(min-width: 1280px)"
                srcset="./images/program/pr-donut2-dc.webp 1x, ./images/program/pr-donut2-dc2x.webp 2x" type="image/webp" 
                />
                <source 
                media="(min-width: 1280px)"
                srcset="./images/program/pr-donut2-dc.png 1x, ./images/program/pr-donut2-dc2x.png 2x" 
                type="image/png"
                />
                <source 
                media="(min-width: 768px)" 
                srcset="./images/program/pr-donut2-tb.webp 1x, ./images/program/pr-donut2-tb2x.webp 2x"
                type="image/webp" />
                <source 
                media="(min-width: 768px)"
                srcset="./images/program/pr-donut2-tb.png 1x, ./images/program/pr-donut2-tb2x.png 2x" 
                type="image/png"
                />
                <source 
                media="(max-width: 767px)" 
                srcset="./images/program/pr-donut2-mb.webp 1x, ./images/program/pr-donut2-mb2x.webp 2x"
                type="image/webp" />
                <source 
                media="(max-width: 767px)"
                srcset="./images/program/pr-donut2-mb.png 1x, ./images/program/pr-donut2-mb2x.png 2x" 
                type="image/png"
                />
                <img  src="./images/program/pr-donut2-mb.png" alt="White donut">
              </picture>
                <p class="presentation__title">Number of guests</p>
                <p class="presentation__paragraph">1 to 20</p>
                <svg class="presentation__icon" width="19" height="19">
                  <use href="./images/icons.svg#icon-people"></use>
                </svg>
                </div>
            </li>
            <li class="presentation__item list">
              <div class="presentation__wrapper">
              <picture class="presentation__image">
                <source 
                media="(min-width: 1280px)"
                srcset="./images/program/pr-donut3-dc.webp 1x, ./images/program/pr-donut3-dc2x.webp 2x" type="image/webp" />
                <source 
                media="(min-width: 1280px)"
                srcset="./images/program/pr-donut3-dc.png 1x, ./images/program/pr-donut3-dc2x.png 2x" 
                type="image/png"
                />
                <source 
                media="(min-width: 768px)" 
                srcset="./images/program/pr-donut3-tb.webp 1x, ./images/program/pr-donut3-tb2x.webp 2x"
                type="image/webp" />
                <source 
                media="(min-width: 768px)"
                srcset="./images/program/pr-donut3-tb.png 1x, ./images/program/pr-donut3-tb2x.png 2x" 
                type="image/png"
                />
                <source 
                media="(max-width: 767px)" 
                srcset="./images/program/pr-donut3-mb.webp 1x, ./images/program/pr-donut3-mb2x.webp 2x"
                type="image/webp" />
                <source 
                media="(max-width: 767px)"
                srcset="./images/program/pr-donut3-mb.png 1x, ./images/program/pr-donut3-mb2x.png 2x" 
                type="image/png"
                />
                <img  src="./images/program/pr-donut3-mb.png" alt="Grey donut">
              </picture>
                <p class="presentation__title">Time of the event</p>
                <p class="presentation__paragraph">18:30 (2.5 hours)</p>
                <svg class="presentation__icon" width="19" height="19">
                  <use href="./images/icons.svg#icon-clock"></use>
                </svg>
                </div>
            </li>
            <li class="presentation__item list">
              <div class="presentation__wrapper">
              <picture class="presentation__image">
                <source 
                media="(min-width: 1280px)"
                srcset="./images/program/pr-donut4-dc.webp 1x, ./images/program/pr-donut4-dc2x.webp 2x" type="image/webp" />
                <source 
                media="(min-width: 1280px)"
                srcset="./images/program/pr-donut4-dc.png 1x, ./images/program/pr-donut4-dc2x.png 2x" 
                type="image/png"
                />
                <source 
                media="(min-width: 768px)" 
                srcset="./images/program/pr-donut4-tb.webp 1x, ./images/program/pr-donut4-tb2x.webp 2x"
                type="image/webp" />
                <source 
                media="(min-width: 768px)"
                srcset="./images/program/pr-donut4-tb.png 1x, ./images/program/pr-donut4-tb2x.png 2x" 
                type="image/png"
                />
                <source 
                media="(max-width: 767px)" 
                srcset="./images/program/pr-donut4-mb.webp 1x, ./images/program/pr-donut4-mb2x.webp 2x"
                type="image/webp" />
                <source 
                media="(max-width: 767px)"
                srcset="./images/program/pr-donut4-mb.png 1x, ./images/program/pr-donut4-mb2x.png 2x" 
                type="image/png"
                />
                <img  src="./images/program/pr-donut4-mb.png" alt="Brown donut">
              </picture>
                <h3 class="presentation__title">The host speaks</h3>
                <p class="presentation__paragraph">English, French</p>
                <svg class="presentation__icon" width="19" height="19">
                  <use href="./images/icons.svg#icon-chat"></use>
                </svg>
                </div>
            </li>
        </ul>
    </div>
  </div>
</section>
