<section class="program">
  <div class="container">
    <div class="program__left">
      <h2 class="program__left-title">Program</h2>
      <p class="program__left-paragraph">
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul class="program__left-list">
        <li class="program__left-item list">
            A stand up history of donuts
        </li>
        <li class="program__left-item list">
            Make 3 donut flavors of your choice
        </li>
        <li class="program__left-item list">
            Enjoy all-you-can-eat donuts
        </li>
        <li class="program__left-item list">
          Cocktail pairings and coffee included
        </li>
        <li class="program__left-item list">
          Photoshoot by professional photographer
        </li>
        <li class="program__left-item list">
            Secret receipt of cooking from Eva
        </li>
        <li class="program__left-item list">
          All products are included in the price
        </li>
      </ul>
      <p class="program__left-chapter">
        Come with your dear people and friends
        and you will spend an unforgettable time and
        will become a real professional
        in donuts cooking!
      </p>
    </div>
    <div class="program__right">
        <ul class="program__right-list">
            <li class="program__right-item list">
                <h3 class="program__right-title">Type of the event</h3>
                <p class="program__right-paragraph">Cooking classes</p>
                <!-- SVG will be added after completion of Sprite assembly -->
            </li>
            <li class="program__right-item list">
                <h3 class="program__right-title">Number of guests</h3>
                <p class="program__right-paragraph">1 to 20</p>
                <!-- SVG will be added after completion of Sprite assembly -->
            </li>
            <li class="program__right-item list">
                <h3 class="program__right-title">Time of the event</h3>
                <p class="program__right-paragraph">18:30 (2.5 hours)</p>
                <!-- SVG will be added after completion of Sprite assembly -->
            </li>
            <li class="program__right-item list">
                <h3 class="program__right-title">The host speaks</h3>
                <p class="program__right-paragraph">English, French</p>
                <!-- SVG will be added after completion of Sprite assembly -->
            </li>
        </ul>
    </div>
  </div>
</section>
