<section class="section registration-tumb">
  <div class="container">
    <h2 class="registration-title">Registration</h2>
    <div class="registration">
      <p>May 23, 11:00 New York</p>

      <form class="registration-form" action="submit">
        <p>Apply your personal info for registration</p>
        <div class="form-field">
          <label class="registration-form__label" for="tel"></label>
          <input
            class="registration-form__input"
            type="text"
            name="name"
            id="name"
            placeholder="Your name"
          />
        </div>
        <div class="form-field">
          <label class="registration-form__label" for="tel"></label>
          <input
            class="registration-form__input"
            type="tel"
            name="tel"
            id="tel"
            placeholder="Phone number"
          />
        </div>
        <div class="form-field">
          <label class="registration-form__label" for="email"></label>
          <input
            class="registration-form__input"
            type="email"
            name="email"
            id="email"
            placeholder="Email"
          />
        </div>
      </form>
      <button class="btn" type="submit">Register</button>
    </div>
  </div>
</section>
