<section class="registration-section">
  <div class="container">
    <h2 class="registration-section__title">Registration</h2>

    <p class="registration-section__date">
      <time datetime="2023-05-23 11:00"> May 23, 11:00</time> New York
    </p>

    <form class="form" action="submit">
      <p class="form__title">
        <strong>Apply your personal info for registration</strong>
      </p>

      <label class="field"
        ><input
          class="field__input"
          type="text"
          name="name"
          placeholder="Your name"
      /></label>

      <label class="field"
        ><input
          class="field__input"
          type="tel"
          name="tel"
          placeholder="Phone number"
      /></label>

      <label class="field"
        ><input
          class="field__input"
          type="email"
          name="email"
          placeholder="Email"
      /></label>

      <button class="button" type="submit">Register</button>
    </form>
  </div>
</section>
