<section class="reviews container">
  <h2 class="reviews__title">Reviews</h2>
  <div class="reviews__slider">
    <div class="review__item">
      <div class="review__slide slide">
        <img src="./images/reviews/rv-will-mb.png" alt="Foto two" />
        <!--<div class="slide__rating">
          <svg class="slide__icon" width="24px" height="24px" fill="#ab816c">
            <use href="./images/sprite.svg#Star-full"></use>
          </svg>
          <svg class="slide__icon" width="24px" height="24px" fill="#ab816c">
            <use href="./images/sprite.svg#Star-full"></use>
          </svg>
          <svg class="slide__icon" width="24px" height="24px" fill="#ab816c">
            <use href="./images/sprite.svg#Star-full"></use>
          </svg>
          <svg class="slide__icon" width="24px" height="24px" fill="#ab816c">
            <use href="./images/sprite.svg#Star-full"></use>
          </svg>
          <svg class="slide__icon" width="24px" height="24px" fill="#ab816c">
            <use href="./images/sprite.svg#Star-full"></use>
          </svg> -->
        </div>
        <h3 class="slide__name">Will</h3>
        <article class="slide__text">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </article>
      </div>
      <div class="review__slide slide">
        <img src="./images/reviews/rv-will-mb.png" alt="Foto two" />
        <div class="slide__rating">
          <!-- <svg
          class="slide__icon"
          width=""
          height=""
          fill=""
        >
          <use href=""></use>
        </svg>
        <svg
         class="slide__icon"
          width=""
          height=""
          fill=""
        >
          <use href=""></use>
        </svg> 
        <svg
          class="slide__icon"
          width=""
          height=""
          fill=""
        >
          <use href=""></use>
        </svg> 
        <svg
          class="slide__icon"
          width=""
          height=""
          fill=""
        >
          <use href=""></use>
        </svg> 
        <svg
          class="slide__icon"
          width=""
          height=""
          fill=""
        >
          <use href=""></use>
        </svg>  -->
        </div>
        <h3 class="slide__name">Will</h3>
        <article class="slide__text">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </article>
      </div>
      <div class="review__slide slide">
        <img src="./images/reviews/rv-will-mb.png" alt="Foto two" />
        <div class="slide__rating">
          <!-- <svg
          class="slide__icon"
          width=""
          height=""
          fill=""
        >
          <use href=""></use>
        </svg>
        <svg
         class="slide__icon"
          width=""
          height=""
          fill=""
        >
          <use href=""></use>
        </svg> 
        <svg
          class="slide__icon"
          width=""
          height=""
          fill=""
        >
          <use href=""></use>
        </svg> 
        <svg
          class="slide__icon"
          width=""
          height=""
          fill=""
        >
          <use href=""></use>
        </svg> 
        <svg
          class="slide__icon"
          width=""
          height=""
          fill=""
        >
          <use href=""></use>
        </svg>  -->
        </div>
        <h3 class="slide__name">Will</h3>
        <article class="slide__text">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </article>
      </div>
    </div>
  </div>
</section>
