<section class="reviews-section container">
  <div id="reviews">
    <h2 class="carousel__title">Reviews</h2>

    <div class="carousel" id="carousel">
      <article class="slider-carousel">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-will-dc.webp   1x,
              ./images/reviews/rv-will-dc2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-will-dc.png   1x,
              ./images/reviews/rv-will-dc2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-will-tb.webp   1x,
              ./images/reviews/rv-will-tb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-will-tb.png   1x,
              ./images/reviews/rv-will-tb2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-will-mb.webp   1x,
              ./images/reviews/rv-will-mb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-will-mb.png   1x,
              ./images/reviews/rv-will-mb2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/reviews/rv-will-mb.png"
            alt="a young guy with a beard"
            class="slider-carousel__image"
            width="280"
            height="280"
          />
        </picture>

        <ul class="rating list">
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
        </ul>
        <h3 class="slider-carousel__subtitle">Will</h3>
      </article>
      <article class="slider-carousel">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-elizabeth-dc.webp   1x,
              ./images/reviews/rv-elizabeth-dc2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-elizabeth-dc.png   1x,
              ./images/reviews/rv-elizabeth-dc2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-elizabeth-tb.webp   1x,
              ./images/reviews/rv-elizabeth-tb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-elizabeth-tb.png   1x,
              ./images/reviews/rv-elizabeth-tb2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-elizabeth-tb.webp   1x,
              ./images/reviews/rv-elizabeth-tb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-elizabeth-tb.png   1x,
              ./images/reviews/rv-elizabeth-tb2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/reviews/rv-elizabeth-tb.png"
            alt="young girl with a beautiful smile"
            class="slider-carousel__image"
            width="280"
            height="280"
          />
        </picture>

        <ul class="rating list">
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
        </ul>
        <h3 class="slider-carousel__subtitle">Elizabeth</h3>
      </article>
      <article class="slider-carousel">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-john-dc.webp   1x,
              ./images/reviews/rv-john-dc2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-john-dc.png   1x,
              ./images/reviews/rv-john-dc2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-john-tb.webp   1x,
              ./images/reviews/rv-john-tb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-john-tb.png   1x,
              ./images/reviews/rv-john-tb2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-john-tb.webp   1x,
              ./images/reviews/rv-john-tb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-john-tb.png   1x,
              ./images/reviews/rv-john-tb2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/reviews/rv-john-tb.png"
            alt="young guy in glasses"
            class="slider-carousel__image"
            width="280"
            height="280"
          />
        </picture>

        <ul class="rating list">
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-empty"></use>
            </svg>
          </li>
        </ul>
        <h3 class="slider-carousel__subtitle">John</h3>
      </article>
      <article class="slider-carousel">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-will-dc.webp   1x,
              ./images/reviews/rv-will-dc2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-will-dc.png   1x,
              ./images/reviews/rv-will-dc2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-will-tb.webp   1x,
              ./images/reviews/rv-will-tb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-will-tb.png   1x,
              ./images/reviews/rv-will-tb2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-will-mb.webp   1x,
              ./images/reviews/rv-will-mb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-will-mb.png   1x,
              ./images/reviews/rv-will-mb2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/reviews/rv-will-mb.png"
            alt="a young guy with a beard"
            class="slider-carousel__image"
            width="280"
            height="280"
          />
        </picture>

        <ul class="rating list">
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
        </ul>
        <h3 class="slider-carousel__subtitle">Will</h3>
      </article>
      <article class="slider-carousel">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-elizabeth-dc.webp   1x,
              ./images/reviews/rv-elizabeth-dc2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-elizabeth-dc.png   1x,
              ./images/reviews/rv-elizabeth-dc2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-elizabeth-tb.webp   1x,
              ./images/reviews/rv-elizabeth-tb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-elizabeth-tb.png   1x,
              ./images/reviews/rv-elizabeth-tb2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-elizabeth-tb.webp   1x,
              ./images/reviews/rv-elizabeth-tb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-elizabeth-tb.png   1x,
              ./images/reviews/rv-elizabeth-tb2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/reviews/rv-elizabeth-tb.png"
            alt="young girl with a beautiful smile"
            class="slider-carousel__image"
            width="280"
            height="280"
          />
        </picture>

        <ul class="rating list">
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
        </ul>
        <h3 class="slider-carousel__subtitle">Elizabeth</h3>
      </article>
      <article class="slider-carousel">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-john-dc.webp   1x,
              ./images/reviews/rv-john-dc2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/reviews/rv-john-dc.png   1x,
              ./images/reviews/rv-john-dc2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-john-tb.webp   1x,
              ./images/reviews/rv-john-tb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/rv-john-tb.png   1x,
              ./images/reviews/rv-john-tb2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-john-tb.webp   1x,
              ./images/reviews/rv-john-tb2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/rv-john-tb.png   1x,
              ./images/reviews/rv-john-tb2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/reviews/rv-john-tb.png"
            alt="young guy in glasses"
            class="slider-carousel__image"
            width="280"
            height="280"
          />
        </picture>

        <ul class="rating list">
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-full"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon" width="24" height="24" fill="#ab816c">
              <use href="./images/icons.svg#icon-Star-empty"></use>
            </svg>
          </li>
        </ul>
        <h3 class="slider-carousel__subtitle">John</h3>
      </article>
    </div>
    <div class="comments" data-reviews>
      <div>
        <p class="comments__text comments__text--active" data-slide="0">
          Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </div>
      <div>
        <p class="comments__text" data-slide="1">
          Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </div>
      <div>
        <p class="comments__text" data-slide="2">
          Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </div>
      <div>
        <p class="comments__text" data-slide="3">
          Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </div>
      <div>
        <p class="comments__text" data-slide="4">
          Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </div>
      <div>
        <p class="comments__text" data-slide="5">
          Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one
          and highly recommend it to everyone!
        </p>
      </div>
    </div>
  </div>
  <div class="reviews__pagination-wrap">
    <p class="reviews-pagination" data-slider-range></p>
  </div>
</section>
