<section class="reviews container">
  <h2 class="reviews__title">Reviews</h2>
  <article class="reviews__slider">
    <img src="./images/reviews/rv-will-mb.png" alt="Foto two" />
    <ul class="rating list">
      <li class="rating__item">
        <svg class="rating__icon" width="24px" height="24px" fill="#ab816c">
          <use href="./images/icons.svg#icon-Star-full"></use>
        </svg>
      </li>
      <li class="rating__item">
        <svg class="rating__icon" width="24px" height="24px" fill="#ab816c">
          <use href="./images/icons.svg#icon-Star-full"></use>
        </svg>
      </li>
      <li class="rating__item">
        <svg class="rating__icon" width="24px" height="24px" fill="#ab816c">
          <use href="./images/icons.svg#icon-Star-full"></use>
        </svg>
      </li>
      <li class="rating__item">
        <svg class="rating__icon" width="24px" height="24px" fill="#ab816c">
          <use href="./images/icons.svg#icon-Star-full"></use>
        </svg>
      </li>
      <li class="rating__item">
        <svg class="rating__icon" width="24px" height="24px" fill="#ab816c">
          <use href="./images/icons.svg#icon-Star-full"></use>
        </svg>
      </li>
    </ul>
    <h3 class="reviews__subtitle">Will</h3>
    <p class="reviews__text">
      Last time I have visited a cooking course by Eva I was impressed with the
      way she explained everything to people. You can be sure you will manage to
      cook a delicious dish even if it is your first time in the kitchen! Thank
      you so much for the masterclass! Looking forward to the next one and
      highly recommend it to everyone!
    </p>
  </article>
</section>
