<section class="speakers section" id="speakers">
  <div class="container speakers__conteiner">
    <h2 class="speakers__title">Speakers</h2>
    <div class="speakers__box">
      <ul class="speakers-list list">
        <li class="speakers-list__item">
          <img
            src="./images/nick-mar.jpg"
            alt="smiling woman"
            class="speakers-list__pic"
            width="130px"
            hight="130px"
          />
          <!-- src="" -->
          <h3 class="speakers-list__subtitle">Molly Rivera</h3>
          <p class="speakers-list__desc">
            Pastry chef, master chocolatier of Spain
          </p>
        </li>
        <li class="speakers-list__item">
          <img
            src="./images/nick-mar.jpg"
            alt="smiling woman 2"
            class="speakers-list__pic"
            width="130px"
            hight="130px"
          />
          <!-- src="" -->
          <h3 class="speakers-list__subtitle">Sophia Clark</h3>
          <p class="speakers-list__desc">Сulinary school pastry chef</p>
        </li>
        <li class="speakers-list__item">
          <img
            src="./images/nick-mar.jpg"
            alt="smiling woman 3"
            class="speakers-list__pic"
            width="130px"
            hight="130px"
          />
          <!--  src="" -->
          <h3 class="speakers-list__subtitle">Isabella Taylor</h3>
          <p class="speakers-list__desc">
            Сonsultant in the art of confectionery
          </p>
        </li>
        <li class="speakers-list__item">
          <img
            src="./images/nick-mar.jpg"
            alt="smiling woman 4"
            class="speakers-list__pic"
            width="130px"
            height="130px"
          />
          <!--  src="" -->
          <h3 class="speakers-list__subtitle">Evelyn Miller</h3>
          <p class="speakers-list__desc">Master- chocolatier in Spain</p>
        </li>
      </ul>
    </div>
  </div>
</section>
