<section class="speakers section" id="speakers">
  <div class="container speakers__container">
    <h2 class="speakers__title title">Speakers</h2>

    <div class="speakers-bg">
      <div class="speakers__box">
        <ul class="speakers-list list">
          <li class="speakers-list__item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/speakers/sp-molly-dc.webp   1x,
                  ./images/speakers/sp-molly-dc2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/speakers/sp-molly-dc.png   1x,
                  ./images/speakers/sp-molly-dc2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/speakers/sp-molly-tb.webp   1x,
                  ./images/speakers/sp-molly-tb2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/speakers/sp-molly-tb.png   1x,
                  ./images/speakers/sp-molly-tb2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/speakers/sp-molly-mb.webp   1x,
                  ./images/speakers/sp-molly-mb2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/speakers/sp-molly-mb.png   1x,
                  ./images/speakers/sp-molly-mb2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/speakers/sp-molly-mb.png"
                alt="smiling woman"
                class="speakers-list__pic"
                width="130"
                height="130"
              />
            </picture>
            <div class="speakers-list__box">
              <h3 class="speakers-list__subtitle">Molly Rivera</h3>
              <p class="speakers-list__desc">
                Pastry chef, master chocolatier of Spain
              </p>
            </div>
          </li>
          <li class="speakers-list__item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/speakers/sp-sophia-dc.webp   1x,
                  ./images/speakers/sp-sophia-dc2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/speakers/sp-sophia-dc.png   1x,
                  ./images/speakers/sp-sophia-dc2x.png 2x
                "
                type="image/png"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/speakers/sp-sophia-tb.webp   1x,
                  ./images/speakers/sp-sophia-tb2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/speakers/sp-sophia-tb.png   1x,
                  ./images/speakers/sp-sophia-tb2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/speakers/sp-sophia-mb.webp   1x,
                  ./images/speakers/sp-sophia-mb2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/speakers/sp-sophia-mb.png   1x,
                  ./images/speakers/sp-sophia-mb2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/speakers/sp-sophia-mb.png"
                alt="smiling woman 2"
                class="speakers-list__pic"
                width="130"
                height="130"
              />
            </picture>
            <div class="speakers-list__box">
              <h3 class="speakers-list__subtitle">Sophia Clark</h3>
              <p class="speakers-list__desc">Сulinary school pastry chef</p>
            </div>
          </li>

          <li class="speakers-list__item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/speakers/sp-isabella-dc.webp   1x,
                  ./images/speakers/sp-isabella-dc2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/speakers/sp-isabella-dc.png   1x,
                  ./images/speakers/sp-isabella-dc2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/speakers/sp-isabella-tb.webp   1x,
                  ./images/speakers/sp-isabella-tb2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/speakers/sp-isabella-tb.png   1x,
                  ./images/speakers/sp-isabella-tb2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/speakers/sp-isabella-mb.webp   1x,
                  ./images/speakers/sp-isabella-mb2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/speakers/sp-isabella-mb.png   1x,
                  ./images/speakers/sp-isabella-mb2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/speakers/sp-isabella-mb.png"
                alt="smiling woman 3"
                class="speakers-list__pic"
                width="130"
                height="130"
              />
            </picture>
            <div class="speakers-list__box">
              <h3 class="speakers-list__subtitle">Isabella Taylor</h3>
              <p class="speakers-list__desc">
                Сonsultant in the art of confectionery
              </p>
            </div>
          </li>
          <li class="speakers-list__item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/speakers/sp-evelyn-dc.webp   1x,
                  ./images/speakers/sp-evelyn-dc2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/speakers/sp-evelyn-dc.png   1x,
                  ./images/speakers/sp-evelyn-dc2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/speakers/sp-evelyn-tb.webp   1x,
                  ./images/speakers/sp-evelyn-tb2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/speakers/sp-evelyn-tb.png   1x,
                  ./images/speakers/sp-evelyn-tb2x.png 2x
                "
                type="image/png"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/speakers/sp-evelyn-mb.webp   1x,
                  ./images/speakers/sp-evelyn-mb2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/speakers/sp-evelyn-mb.png   1x,
                  ./images/speakers/sp-evelyn-mb2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/speakers/sp-evelyn-mb.png"
                alt="smiling woman 4"
                class="speakers-list__pic"
                width="130"
                height="130"
              />
            </picture>
            <div class="speakers-list__box">
              <h3 class="speakers-list__subtitle">Evelyn Miller</h3>
              <p class="speakers-list__desc">Master- chocolatier in Spain</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
