.contacts__container {
  @media screen and(max-width: 767.98px) {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}




.field__input--white {
  background-color: transparent;
}

.contacts {
  padding-top: 32px;
  @media screen and(min-width: 768px) {
    padding-top: 80px;
  }
  @media screen and(min-width: 1280px) {
    padding-top: 180px;
  }
}

.contacts__title {
  margin-bottom: 16px;

  @media screen and(min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and(min-width: 1280px) {
    font-size: 36px;
  }
}

.contacts__subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2520;

  @media screen and(min-width: 1280px) {
    font-size: 18px;
    line-height: 1.2;
  }
}

.contacts__form {
  margin-bottom: 32px;
  @media screen and(min-width: 768px) {
    width: 336px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }

  @media screen and(min-width: 1280px) {
    width: 394px;
  }
}

.form-btn {
  margin-bottom: 24px;
  @media screen and(min-width: 1280px) {
    font-size: 24px;
    line-height: 1.25;
    padding: 8px 67px;
    width: 182px;
    height: 45px;
  }
}
