.about-us__container {
  @media screen and (min-width: $breakpoint-tab) {
    display: flex;
  }
}

// Portrayal Side

.portrayal {
  @media screen and (min-width: $breakpoint-tab) {
    margin-right: auto;
  }
}

.portrayal__image {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

// Characterization Side

.characterization {
  flex-basis: calc((100% - 32px) / 2);
}
.characterization__title {
  margin-bottom: 8px;

  font-family: 'Caveat Brush', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;

  color: var(--main-text-color-black);

  @media screen and (min-width: $breakpoint-tab) {
    margin-bottom: 16px;
    text-align: left;
  }
}

.characterization__paragraph {
  margin-bottom: 27px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color-black);
}

.characterization__paragraph--hide {
  display: none;

  @media screen and (min-width: $breakpoint-desk) {
    display: block;
  }
}

.characterization__btn {
  background-color: #ffffff;
  border: none;
  padding: 0;
}

.characterization__btn-text {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  color: var(--accent-color);
}
