.field__input--white {

    background-color: transparent;

}

.footer-contacts__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 16px;
    color: #2E2520;
}

.footer-contacts__title {
    margin-bottom: 16px;
}

.form-btn {
    margin-top: 12px;
    margin-bottom: 32px;
}

