.footer {
    position: relative;
    padding-bottom: 46px;
    @media screen and (min-width: 768px) {
    padding-bottom: 83px;
    }
}


.footer__social-list {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
    margin-bottom: 60px;
        
    }
}

.contacts-list {

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
    justify-content: normal;
    gap: 426px;
    }
}

.contacts-list__phone,
.contacts-list__map {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #2E2520;
}

.contact-list__icon {
    margin-right: 4px;
}

.footer-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}