/* PRICE section */
.price__container {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
  }
}

.price__title {
  font-family: Caveat Brush, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  color: var(--main-text-color-black);
  text-align: center;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.price-cards {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 14px;
  }
}

.price-cards__item {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bg-color-section);
  border-radius: 40px;

  background-image: url(../images/price/prc-splash-mb.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    background-image: url(../images/price/prc-splash-tb.png);
  }
}

.price-cards__item:first-child {
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.price-cards__item:nth-child(2) {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.card__title {
  font-family: Montserrat, sans-serif;
  font-style: italic;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--main-text-color-black);
  text-align: center;

  padding-top: 20px;
  margin-bottom: 16px;
}

.card-list {
  margin-bottom: auto;
}

.card-list__item {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.card-list__item:last-child {
  margin-bottom: 32px;
}

.price-cards:first-child {
  margin-bottom: 12px;
}

.card-list__item:not(:last-child) {
  margin-bottom: 12px;
}
