.program-section {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $breakpoint-tab) {
    padding-top: 52px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    padding-top: 60px;
    padding-right: 125px;
    padding-bottom: 81px;
    padding-left: 125px;
  }
}

.program-section__container {
  @media screen and (max-width: 320px) and (max-width: $breakpoint-mob) {
    padding: 0;
  }

  @media screen and (min-width: $breakpoint-tab) {
    display: flex;
    gap: 32px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    gap: 142px;
  }
}

// Description Container

.description {
  @media screen and (min-width: 320px) and (max-width: 767.98px) {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $breakpoint-tab) {
    max-width: 336px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    max-width: 392px;
  }
}

.description__title {
  font-family: 'Caveat Brush', cursive;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.15;
  color: var(--main-text-color-black);

  @media screen and (min-width: 320px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $breakpoint-tab) {
    margin-bottom: 16px;
    text-align: left;
  }

  @media screen and (min-width: $breakpoint-desk) {
    margin-bottom: 19px;

    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.25;
    color: var(--main-text-color-black);
  }
}

.description__paragraph {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  color: var(--main-text-color-black);

  @media screen and (min-width: $breakpoint-tab) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 1.22;
  }
}

.description__list {
  margin-bottom: 16px;
}

.description__item {
  margin-bottom: 8px;

  &::before {
    content: url(../images/program/pr-donut-icon.svg);
  }

  @media screen and (min-width: $breakpoint-desk) {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
}

.description__chapter {
  margin-bottom: 16px;

  @media screen and (min-width: 320px) {
    display: none;
    margin-bottom: 14.5px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    display: block;
  }

  @media screen and (min-width: $breakpoint-desk) {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
}

.description__btn {
  background-color: #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;

  @media screen and (min-width: $breakpoint-desk) {
    display: none;
  }
}

.description__btn-text {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  color: var(--accent-color);
}

// Presentation Container

.presentation {
  @media screen and (min-width: $breakpoint-desk) {
    display: flex;
    flex-basis: 500px;
    flex-grow: 1;
  }
}
.presentation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  @media screen and (min-width: 320px) {
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: $breakpoint-tab) {
    max-width: 336px;
    justify-content: space-between;
  }

  @media screen and (min-width: $breakpoint-desk) {
    min-width: 500px;
  }
}

.presentation__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  text-align: center;

  @media screen and (min-width: 320px) and (max-width: 767.98px) {
    width: 130px;
    height: 165px;

    &:nth-child(2n + 1) {
      margin-right: 20px;
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 152px;
    height: 184px;
  }
  &:nth-child(2n + 1) {
    margin-right: 20px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    width: 180px;
    height: 220px;

    &:nth-child(2n + 1) {
      margin-right: 139px;
      margin-bottom: 80px;
    }
  }
}

.presentation__wrapper {
  width: 130px;
  height: 130px;
  background: #fef3e4;
  border-radius: 50%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  box-shadow: 0 4px 4px rgb(171 129 108 / 25%);

  @media screen and (min-width: $breakpoint-tab) {
    width: 152px;
    height: 152px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    width: 180px;
    height: 180px;
  }
}

.presentation__image {
  position: absolute;
  top: 0;

  animation: rotate-donut 5s linear infinite;
}

@keyframes rotate-donut {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(7px);
  }

  100% {
    transform: translateY(0);
  }
}

.presentation__title {
  margin-bottom: 4px;

  @media screen and (min-width: 320px) {
    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
  }

  @media screen and (min-width: $breakpoint-tab) {
    margin-bottom: 8px;

    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
  }

  @media screen and (min-width: $breakpoint-desk) {
    margin-bottom: 16px;

    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
  }
}

.presentation__paragraph {
  @media screen and (min-width: 320px) {
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
  }

  @media screen and (min-width: $breakpoint-desk) {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
}

.presentation__icon {
  margin-bottom: 11px;

  @media screen and (min-width: $breakpoint-tab) {
    margin-bottom: 19px;
    width: 21px;
    height: 21px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    margin-bottom: 16px;
    width: 25px;
    height: 25px;
  }
}
