.program-section {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $breakpoint-tab) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    padding-top: 92px;
    padding-right: 105px;
    padding-bottom: 81px;
    padding-left: 105px;
  }
}

.program-section__container {
  @media screen and (max-width: 320px) and (max-width: $breakpoint-mob) {
    padding: 0;
  }

  @media screen and (min-width: $breakpoint-tab) {
    display: flex;
    padding: 0;
  }
}

// Description Container

.description {
  @media screen and (min-width: $breakpoint-tab) {
    flex-basis: calc((100% - 18px) / 2);
    margin-right: 18px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    flex-basis: 336px;
    margin-right: 142px;
  }
}

.description__title {
  margin-bottom: 8px;

  font-family: 'Caveat Brush', cursive;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.15;
  color: var(--main-text-color-black);

  @media screen and (min-width: $breakpoint-tab) {
    margin-bottom: 16px;
    text-align: left;
  }

  @media screen and (min-width: $breakpoint-desk) {
    margin-bottom: 19px;

    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.25;
    color: var(--main-text-color-black);
  }
}

.description__paragraph {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  color: var(--main-text-color-black);

  @media screen and (min-width: $breakpoint-tab) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 1.22;
  }
}

.description__list {
  margin-bottom: 16px;
}

.description__item {
  margin-bottom: 8px;

  &::before {
    content: url(../images/program/pr-donut-icon.svg);
  }

  @media screen and (min-width: $breakpoint-desk) {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
}

.description__chapter {
  margin-bottom: 16px;

  @media screen and (min-width: 320px) {
    display: none;
    margin-top: 16px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    display: block;
  }

  @media screen and (min-width: $breakpoint-desk) {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
}

.description__btn {
  background-color: #ffffff;
  border: none;
  margin-bottom: 55px;
  padding: 0;

  @media screen and (min-width: $breakpoint-desk) {
    display: none;
  }
}

.description__btn-text {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  color: var(--accent-color);
}

// Presentation Container

.presentation {
  @media screen and (min-width: $breakpoint-tab) {
    flex-basis: calc((100% - 18px) / 2);
  }

  @media screen and (min-width: $breakpoint-desk) {
    display: flex;
    flex-basis: 500px;
    flex-grow: 1;
  }
}
.presentation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin: 0;

  @media screen and (min-width: 320px) and (max-width: 469.98px) {
    gap: 20px;
  }

  @media screen and (min-width: 470px) and (max-width: 1279.98px) {
    gap: 33px;
  }
}

.presentation__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  text-align: center;

  background-color: var(--bg-color-section);
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  &:nth-child(2n + 1) {
    margin-bottom: 31px;
  }

  @media screen and (min-width: 320px) and (max-width: 767.98px) {
    width: 130px;
    height: 130px;
  }

  @media screen and (min-width: $breakpoint-tab) {
    width: 152px;
    height: 152px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    width: 180px;
    height: 180px;
    &:nth-child(2n + 1) {
      margin-right: 139px;
      margin-bottom: 80px;
    }
  }
}

.presentation__image {
  position: absolute;
  bottom: 70%;
  left: 50%;

  transform: translate(-50%);

  @media screen and (min-width: $breakpoint-desk) {
    width: 83px;
    height: 92px;
  }
}

.presentation__title {
  margin-bottom: 4px;

  @media screen and (min-width: 320px) {
    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
  }

  @media screen and (min-width: 1280px) {
    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
  }
}

.presentation__paragraph {
  @media screen and (min-width: 320px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
  }

  @media screen and (min-width: 1280px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
}

.presentation__icon {
  position: absolute;
  top: 80%;
  left: 50%;

  transform: translate(-50%, -50%);

  @media screen and (min-width: $breakpoint-tab) {
    width: 21px;
    height: 21px;
  }

  @media screen and (min-width: $breakpoint-desk) {
    width: 25px;
    height: 25px;
  }
}
