.registration-section {
  position: relative;
}

.registration-section__tumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 280px;
  height: 436px;
  padding: 82px 8px 0px 8px;
  margin: 0 auto;
  background: #fffff9;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;

  @media screen and (min-width: 768px) {
    position: relative;
    flex-direction: row;
    max-width: 704px;
    height: 234px;
    border-radius: 150px 150px 150px 150px;
    padding: 40px 60px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 822px;
    height: 246px;
    padding: 40px 104px;
  }
}

.registration-section__title {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 768px) {
    position: relative;
    top: 0;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 1.8;
  }
}

.registration-section__date {
  width: 114px;
  height: 44px;
  margin-bottom: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  text-align: center;
  color: var(--main-text-color-black);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-basis: 90px;
    align-items: flex-end;
    text-align: right;
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    flex-basis: 127px;
    margin-bottom: 0px;
  }
}

.form {
  text-align: center;
}

.registration-section__form {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-basis: 237px;
    border-left: 1px solid rgba(171, 129, 108, 0.5);
    padding-left: 24px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 32px;
  }
}

.form__title {
  padding: 8px 7px;
  margin-bottom: 12px;
  border-top: 1px solid rgba(171, 129, 108, 0.5);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--main-text-color-black);

  @media screen and (min-width: 768px) {
    border-top: none;
    width: 237px;
    text-align: left;
    padding: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 238px;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 28px;
  }
}

.field__input {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fffff9;
  outline: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid var(--accent-color);

  &:not(:placeholder-shown):invalid {
    background-color: #fce8e8;
  }
  @media screen and (min-width: 768px) {
    &--margin {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 14px;
    &--margin {
      margin-bottom: 0;
    }
  }
}

input::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.registration-section__btn {
  margin-top: 12px;
  height: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-right: 0;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.25;
    margin-left: 24px;
    margin-top: 12px;
    padding: 8px 45px;
    width: 158px;
    height: 45px;
  }
}

// Background img

.registration-section__donut {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    
    position: absolute;
    top: -93px;
    left: -32px;
    z-index: -1;
  }

  @media screen and (min-width: 1280px) {
    top: -69px;
    left: -117px;
    transform: rotate(341deg);
  }
}

.registration-section__confetti {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    
    position: absolute;
    bottom: -164px;
    right: -34px;
    z-index: -1;
  }

  @media screen and (min-width: 1280px) {
    
    bottom: -307px;
    right: -229px;
  }
}
