.reviews-section {
  position: relative;
}

.review__bg {
  position: absolute;
  top: 0;
  width: 100%;

  z-index: -1;
  @media screen and (min-width: 768px) {
    height: 1482px;
  }
  @media screen and (min-width: 1280px) {
    height: 2073;
  }
}

.carousel {
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-bottom: 49px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 64px;
  }

  &__title {
    font-family: 'Caveat Brush';
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: var(--main-text-color-black);
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-bottom: 7px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 36px;
      line-height: 1.25;
      margin-bottom: 85px;
    }
  }
}

.slider-carousel__subtitle {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-text-color-black);
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.slider-carousel__text {
  display: none;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color-black);
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
  }
}

.slider-carousel__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  cursor: pointer;
  &:hover, &:focus {
  border-radius: 60% 40%;
  box-shadow:  -5px -9px 0 9px var(--accent-color),
               2px -10px 0 var(--accent-color) inset;
  animation: move-shadow 2s infinite;
  
  @keyframes move-shadow {
    25%{
      border-radius: 50% 60%;
      box-shadow:  3px 2px 0 5px var(--accent-color),
                   3px -2px 0 5px var(--accent-color) inset;
      }
    50%{
      border-radius: 70% 60%;
      box-shadow:  8px 3px 0 0px var(--accent-color),
                   -2px 3px 0 10px var(--accent-color) inset;
      }
    75%{
      border-radius: 45% 60%;
      box-shadow:  -1px -6px 0 0px var(--accent-color),
                   -3px -5px 0 10px var(--accent-color) inset;
      }}
}}

.rating {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-carousel__text--active {
  display: block;
}

.reviews {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.reviews--animation {
  opacity: 0;
}

.slick-slider {
  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 704px;
  }
  @media screen and (min-width: 1280px) {
    width: 1031px;
  }
}

.slick-slide img {
  display: block;
  margin: 0 auto;
}

.slick-slide,
.slick-slide[aria-hidden='true']:not(.slick-cloned)
  ~ .slick-cloned[aria-hidden='true'] {
  .slider-carousel__image {
    transition: all 0.22s linear;
    width: 152px;
    height: auto;
    @media screen and (min-width: 768px) {
      width: 152px;
    }
    @media screen and (min-width: 1280px) {
      width: 288px;
    }
  }
}

.slick-center,
.slick-slide[aria-hidden='true']:not([tabindex='-1'])
  + .slick-cloned[aria-hidden='true'] {
  .slider-carousel__image {
    width: 280px;
    @media screen and (min-width: 768px) {
      width: 336px;
    }
    @media screen and (min-width: 1280px) {
      width: 394px;
    }
  }
}

.reviews__pagination-wrap {
  margin-top: 32px;
}

.reviews-pagination {
  position: relative;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.21;
  color: var(--accent-color);

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.reviews-pagination::after {
  content: '';
  position: absolute;
  
  display: block;
  align-items: center;
  width: 35;
  /*border-bottom: 1px solid var(--accent-color);*/
  top: 50%;
  right: 101px;
  @media screen and (min-width: 768px) {
    right: 325px;
  }
  @media screen and (min-width: 1280px) {
    right: 580px;
  }
}

.reviews-pagination::before {

  content: '';
  position: absolute;
  align-items: center;
  display: block;
  width: 35px;
  /*border-bottom: 1px solid var(--accent-color);*/
  top: 50%;
  left: 103px;
  @media screen and (min-width: 768px) {
    left: 323px;
  }
  @media screen and (min-width: 1280px) {
    left: 588px;
  }
}



