/* SPEAKERS section */
.speakers {
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bg-color-section);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-image: url(../images/speakers/sp-splash-mb.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/speakers/sp-splash-mb2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/speakers/sp-splash-tb.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/speakers/sp-splash-tb2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/speakers/sp-splash-dc.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/speakers/sp-splash-dc2x.png);
    }
  }
}

.speakers__box {
  border-radius: 20px;
  padding-top: 80px;
  padding-bottom: 29px;

  @media screen and (min-width: 768px) {
    padding-top: 150px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 230px;
  }
}

.speakers__title {
  font-family: Caveat Brush;
  font-size: 24px;
  line-height: 1.25;
  color: var(--main-text-color-black);
  text-align: center;

  margin-bottom: 2px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 36px;
  }
}

.speakers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 20px;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 32px 0;
    justify-content: space-between;
  }

  @media screen and (min-width: 1280px) {
    gap: 100px 0;
    justify-content: space-around;
  }
}
.speakers-list__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakers-list__pic {
  margin: 0;
  margin-bottom: 12px;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;

    width: 152px;
    height: 152px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;

    width: 181px;
    height: 181px;
  }
}

.speakers-list__item {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: calc(50% - 10px);

  @media screen and (min-width: 768px) {
    max-width: 152px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 181px;
  }
}

.speakers-list__subtitle {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color-black);
  text-align: center;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 1.22;
  }
}

.speakers-list__desc {
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: var(--main-text-color-black);
  text-align: center;

  @media screen and (max-width: 767.98px) {
    max-width: 130px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;

    width: auto;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
